body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

.banner {
    display: flex;
    background-image: url(Sources/top-banner.png);
    background-repeat: no-repeat;

}

.half-width {
    width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 100px;
    padding-right: 50px;
    text-align: justify;
}

.button {
    color: white;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(tomato, hotpink);
    padding: 5px 20px;
    border-radius: 10px;

}


.half-width img {
    width: 50%;
}

.stubborn {
    padding-top: 120px;
    padding-left: 200px;
}

.middle {
    display: flex;
    background-image: url(Sources/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.bottom {
    display: flex;
}

.spawoa {
    text-align: justify;
    width: 40%;
    box-shadow: 10px 10px 10px 10px gray;
    margin: 20px 50px;
    padding: 0 20px;
    border-radius: 10px;
}

#full {
    border-left: 5px solid;
    border-image: linear-gradient(blue, pink);
    border-image-slice: 1;
}

#fluffy {
    border-left: 5px solid;
    border-image: linear-gradient(crimson, palevioletred);
    border-image-slice: 1;
}

footer {
    color: gray;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}